* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: #007bff;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group label {
    font-weight: 600;
    flex-basis: 50%;
}

.input-group input {
    width: 45%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f4f4f4;
    text-align: right;
}

.input-group input:disabled {
    background-color: #e9ecef;
    color: #495057;
}

.total {
    background-color: #007bff;
    color: white;
}

.total input {
    background-color: #007bff;
    border: none;
    color: white;
    font-weight: bold;
}

.currency-conversion {
    margin-top: 20px;
    padding: 15px;
    background-color: #e9ecef;
    border-radius: 5px;
    text-align: center;
}

.currency-conversion label {
    font-size: 18px;
    margin-right: 10px;
}

